<!doctype html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Banco de Dados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <div class="page">
        <h1>Bolsa Família - 09/15</h1>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

         <p>
             <a href="{{ url_for('allFav') }}">FAVORECIDOS</a> | <a href="{{ url_for('allPav') }}">PAGAMENTOS</a> | <a href="{{ url_for('all') }}">FORMULÁRIOS</a>
         </p>

         <p> <a href="{{ url_for('allFavByState') }}">FAVORECIDOS POR ESTADO</a> </p>

        <p> <a href="{{ url_for('medValor') }}">VALOR MÉDIO DOS PAGAMENTOS</a> </p>

        <p> <a href="{{ url_for('medValorEstado') }}">VALOR MÉDIO DOS PAGAMENTOS POR ESTADO</a> </p>

        <p> <a href="{{ url_for('highPay') }}">MAIORES PAGAMENTOS</a> </p>

        <p> <a href="{{ url_for('highPayState') }}">MAIORES PAGAMENTOS POR ESTADO</a> </p>

        <p> <a href="{{ url_for('allPagHigher') }}">PAGAMENTOS >= 600</a> </p>

        Procurar favorecido:
         <form action="{{ url_for('searchFav') }}" method="post" class="add-entry">
             <dl>
                 <dt>NIS (15 char):
                 <dd><input type="text" size="30" name="nis_fav">
                 <dd><input type="submit" value="Share">
             </dl>
         </form>

         Procurar ordens de pagamento a um determinado favorecido:
          <form action="{{ url_for('searchFavPag') }}" method="post" class="add-entry">
              <dl>
                  <dt>NIS (15 char):
                  <dd><input type="text" size="30" name="nis_fav">
                  <dd><input type="submit" value="Share">
              </dl>
          </form>

        <ul class="entries">
            {% block body %} {% endblock %}
        </ul>
    </div>
    <!-- scripts -->
  </body>
</html>
