<!doctype html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Banco de Dados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>...</h1>
      <br>
    <div id="content"></div>
    <ul class="entries">
     {% for entry in entries %}
        <li>
            <h2>{{ entry.nome_municipio|safe }}</h2>
            {{  entry.codigo_siafi_municipio }} - {{  entry.uf }}
        </li>
    {% else %}
        <li><em>Unbelievable.  No entries here so far</em></li>
    {% endfor %}
    {% block body %}{% endblock %}
    </div>
    <!-- scripts -->
  </body>
</html>
