<!doctype html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Banco de Dados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <div class="page">
        <h1>Bolsa Família - 09/15</h1>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        <ul class="entries">
            {% block body %}
                {% for entry in entries %}
                    <li>
                        <h2>{{ entry.nis }} - {{ entry.nome|safe }}</h2>
                        {{  entry.mes }} - {{  entry.valor|safe }}
                    </li>
                {% else %}
                    <li><em>Unbelievable. No entries here so far</em></li>
                {% endfor %}
            {% endblock %}
        </ul>
    </div>
    <!-- scripts -->
  </body>
</html>
